<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211757916744-ag7juk1ln9m7m3dbj343dvrc5il280ka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211757916744-ag7juk1ln9m7m3dbj343dvrc5il280ka</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>211757916744-5u7qv5hk0jf206uep4a81jh0tipnocd6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfqnafrFn4LmNPnplPC173w8t4WuGOL_c</string>
	<key>GCM_SENDER_ID</key>
	<string>211757916744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialapp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-14125</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-14125.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211757916744:ios:069879b8186c0b2385ae7d</string>
</dict>
</plist>